.MainTitle {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: cornflowerblue; /*backup in case gradients are not supported*/
    background: radial-gradient(lightblue, cornflowerblue);
    color: white;
    text-shadow: 4px 4px 8px blue;
}

.ChromiumPic {
    border-radius: 12%;
    max-width: 100%;
    min-width: 25%;
    height: auto;
    padding: 1px;
    display: block;
    margin: auto;
}

body {
    background-color:lightgray;
    margin: 0;
}
nav {
    width: 100%;
    display: block;
}
nav > ul {
    background: lightblue; /*default*/
    background: linear-gradient(cornflowerblue,lightblue);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav > ul.NavBar > li {
    list-style: none;
    float: left;
    font: 1rem ubuntu, sans-serif;
}
nav > ul > li.ItemRight {
    float: right;
}
nav > ul.NavBar > li#buttonExpander {
    display: none;
}
/*-----default_font-----*/
nav > ul.NavBar > li {
    font: 1rem ubuntu, sans-serif;
}
p {
    font: 1rem;
}
ul > li > ul > li{
    font-size: 0.75rem;
}
ul.list > li {
    font-size: 1rem;
}
code {
    font: 0.75rem courier, sans-serif;
}
.DLHeader {
    font: 1.25rem ubuntu;
}
form {
    font-size: 1rem;
}
h1,h2,h3,h4,h5,h6,h7 {
    font: 1rem ubuntu;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
/*-----end_default_fonts-----*/
/*-----mobile-----*/
@media screen and (orientation:portrait){
    nav > ul.NavBar > li:not(:nth-child(1)) {
        display: none;
    }
    nav > ul.NavBar > li#buttonExpander {
        display: block;
    }
    nav > ul.NavBar > li > a {
        font-size: 3rem;
    }

    ul.NavBarResponsive > li#buttonExpander {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.NavBarResponsive {
        position: relative;
    }
    ul.NavBarResponsive > li {
        display: inline;
        float: none;
    }
    nav > ul > li {
        padding: 0px;
    }
    ul.NavBarResponsive  a {
        display: block;
        text-align: left;
    }

    /*------Mobile_font------*/
    code {
        font: 1.5rem courier, sans-serif;
    }
    ul.NavBarResponsive > li {
        font: 3rem ubuntu, sans-serif;
    }
    big {
        font: 6rem ubuntu;
    }
    p {
        font-size: 2rem;
    }
    ul > li > ul > li{
        font-size: 1.5rem;
    }
    ul.list > li {
        font-size: 2rem;
    }
    .DLHeader {
        font: 2.5rem ubuntu;
    }
    form {
        font-size: 2rem;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
}
/*-----end_mobile-----*/
nav > ul > li > a:hover {
    color:white;
    background: blue; /*Backup*/
    background: linear-gradient(cornflowerblue,blue);
}
nav > ul > li > a {
    display: block;
    text-decoration: none;
    min-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 0.25rem;
}
downloads {
    display:block;
}
big {
    font: 4rem ubuntu;
}
h1,h2,h3,h4,h5,h6,h7,p,form,downloads {
    margin: 8px;
}
lumi {
    color:chartreuse;
}
button {
    color: white;
    background: green; /*backup in case gradients are not supported*/
    background: linear-gradient(lightgreen, green);
    border-radius: 40px;
    padding: 1px 8px;
    margin-top: 12px;
}

#headerLSR {
    display: block;
    text-align: center;
}
.container {
    widows: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 1/12;}
.col-2 {width: 2/12;}
.col-3 {width: 3/12;}
.col-4 {width: 4/12;}
.col-5 {width: 5/12;}
.col-6 {width: 6/12;}
.col-7 {width: 7/12;}
.col-8 {width: 8/12;}
.col-9 {width: 9/12;}
.col-10 {width: 10/12;}
.col-11 {width: 11/12;}
.col-12 {width: 100%;}

.spacer {
    width: 1/12;
    padding-right: 12px;
}

latest {
    color:darkgreen;
}
oldver {
    color:darkgoldenrod;
}
beta {
    color:crimson;
}
NYI {
    color:dimgray;
}

#LSRDL, #CEBDL {
    display: block;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    border: 0px solid red;
    float: left;
}
[class=row] {
    border: 0px solid green;
}