.MainTitle {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: cornflowerblue; /*backup in case gradients are not supported*/
    background: radial-gradient(lightblue, cornflowerblue);
    color: white;
    text-shadow: 4px 4px 8px blue;
}

.ChromiumPic {
    border-radius: 12%;
    max-width: 100%;
    height: auto;
    padding: 1px;
    display: block;
    margin: auto;
}
ul > li {
    font-size: 16px;
}
ul > li > ul > li{
    font-size: 12px;
}
body {
    background-color:lightgray;
    margin: 0;
}
nav {
    width: 100%;
    display: block;
}
nav > ul {
    background: lightblue; /*default*/
    background: linear-gradient(cornflowerblue,lightblue);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav > ul > li {
    list-style: none;
    float: left;
    padding: 8px;    
}
nav > ul > li.ItemRight {
    float: right;
}
nav > ul > li#buttonExpander {
    display: none;
}
/*-----mobile-----*/
@media screen and (max-width:461px){
    nav > ul > li:not(:nth-child(1)) {
        display: none;
    }
    nav > ul > li#buttonExpander {
        display: block;
    }
}

nav > ul > li:hover {
    color:white;
    background: linear-gradient(cornflowerblue,blue);
}
nav > ul > li > a {
    display: block;
    text-decoration: none;
    min-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}
downloads {
    display:block;
}
h1,h2,h3,h4,h5,h6,h7,p,form,downloads {
    margin: 8px;
}
code {
    font: 12px courier, sans-serif;
}
lumi {
    color:chartreuse;
}
button {
    color: white;
    background: green; /*backup in case gradients are not supported*/
    background: linear-gradient(lightgreen, green);
    border-radius: 40px;
    padding: 1px 8px;
    margin-top: 12px;
}

#headerType {
/*    padding-right: 128px;*/
}
#headerLSR {
    display: block;
    text-align: center;
}
#headerVer {
/*    padding-right: 32px;*/
}

.row {
    display: flex;
    max-width: 100%;
}
.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width: 1/12;}
.col-2 {width: 2/12;}
.col-3 {width: 3/12;}
.col-4 {width: 4/12;}
.col-5 {width: 5/12;}
.col-6 {width: 6/12;}
.col-7 {width: 7/12;}
.col-8 {width: 8/12;}
.col-9 {width: 9/12;}
.col-10 {width: 10/12;}
.col-11 {width: 11/12;}
.col-12 {width: 100%;}

.spacer {
    width: 1/12;
    padding-right: 12px;
}

latest {
    color:darkgreen;
}
oldver {
    color:darkgoldenrod;
}
beta {
    color:crimson;
}
NYI {
    color:dimgray;
}

#LSRDL, #CEBDL {
    display: block;
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    border: 0px solid red;
    float: left;
/*    padding: 10px;*/
}
[class=row] {
    border: 0px solid green;
}