.MainTitle {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: cornflowerblue; /*backup in case gradients are not supported*/
    background: radial-gradient(lightblue, cornflowerblue);
    color: white;
    text-shadow: 4px 4px 8px blue;
}
div.LSR, div.CEB {
    padding-left: 15%;
}
.ChromiumPic {
    border-radius: 12%;
    max-width: 192px;
    max-height: 192px;
    height: auto;
    padding: 1px;
    display: block;
    margin: auto;
}
label {
    font: 4rem ubuntu;
    font-weight:700;
}
body {
/*    background-color:lightgray;*/
    margin: 0;
}
nav {
    width: 100%;
    display: block;
}
nav > ul {
    background: lightblue; /*default*/
    background: linear-gradient(cornflowerblue,lightblue,cornflowerblue);
    overflow: hidden;
    margin: 0;
    padding: 0;
}
nav > ul.NavBar > li {
    list-style: none;
    float: left;
}
nav > ul > li.ItemRight {
    float: right;
}
nav > ul.NavBar > li#buttonExpander {
    display: none;
}
/*-----default_font-----*/
nav > ul.NavBar > li {
    font: 1.5rem ubuntu, sans-serif;
}
p {
    font: 1rem;
}
ul > li > ul > li{
    font-size: 0.75rem;
}
ul.list > li {
    font-size: 1rem;
}
code {
    font: 0.75rem courier, sans-serif;
}
.DLHeader {
    font: 1.25rem ubuntu;
}
form {
    font-size: 1rem;
}
h1,h2,h3,h4,h5,h6,h7 {
    font: 1rem ubuntu;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.75rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
/*-----end_default_fonts-----*/

nav > ul > li > a:hover {
    color:white;
    background: blue; /*Backup*/
    background: linear-gradient(cornflowerblue,blue);
}
nav > ul > li > a {
    display: block;
    text-decoration: none;
    min-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    padding: 0.5rem;
}
div#keys {
    padding-bottom: 2rem;
}
downloads.DL {
    display:block;
    
    margin: 0;
    
}
big {
    font: 4rem ubuntu;
}
h1,h2,h3,h4,h5,h6,h7,p,form,downloads {
    margin: 8px;
}
lumi {
    color:chartreuse;
}
noscript.JSBlocked > h1{
    display: block;
    margin: auto;
    padding: 0 14rem;
    text-align: center;
    background: red;
    color: white;
}
button.DLButton {
    font: 2.5rem ubuntu;
    font-weight: 700;
    background: radial-gradient(lightblue,cornflowerblue);
    border-radius: 4rem;
    padding: 0.5rem 1rem; /*top, bot: 0.5rem | l,r: 1rem*/    
    display: block;
    margin: auto;
}
button.DLButton.HideMe {
    display: none;
}
button#submit {
    color: white;
    background: green; /*backup in case gradients are not supported*/
    background: linear-gradient(lightgreen, green);
    border-radius: 40px;
    padding: 1px 8px;
    margin-top: 12px;
}

#headerLSR {
    display: block;
    text-align: center;
}
div.Container {
    widows: 100%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
div.Container#boxContainer, h2.SectionHeader{
    margin:0;
}
div.Container#boxContainer, h2#sectionHomeHeader,
sourcecode > div.Container, sourcecode > header{
    background: lightgray;
}
div.Container#aboutContainer,
roadmap > header > h2,
roadmap > div.Container,
footer > header > h2,
footer > div.Container{
    background-color: #eee;
}

h2.SectionHeader {
    padding: 0.5rem;
}
div.LeftCol {
    margin: auto;
    padding-left: 25%;
    float: none;
}
div.RighCol {
    margin: auto;
    padding-right: 25%;
    float:none;
}
.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.67%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.67%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.67%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.67%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}
hr {
    margin: 0;
}

header > h2.SectionHeader{
    text-align: center;
    font-size: 3.5rem;
}
div.box {
    background-color: lightgray;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5),
        1px 1px 4px 0px;
    display: block;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    padding-bottom: 3rem;
    border-radius: 1rem;
    
}
img.FastPic {
/*    margin: 1rem;*/
    margin-bottom: 0;
    width: 25%;
}
br.ZeroTall {
    line-height: 0;
}
p.PH {
    font-size: 1.5rem;
}
about.AboutSection > header > h2.SectionHeader,
about.AboutSection > div.Contaier{
    background-color: #eee;
}
downloads > header > h2 ,
downloads > div.Container {
    background-color: lightgray;
    margin: 0;
    padding: 1rem;
}


.spacer {
    padding-right: 12px;
    overflow: hidden
}

latest, latest > div > a {
    color:darkgreen;
}
oldver, oldver > div > a {
    color:darkgoldenrod;
}
beta, beta > div > a{
    color:crimson;
}
NYI {
    color:dimgray;
}
.DLButton {
    box-shadow: 0.2rem 0.2rem 2px 2px gray;

}
#LSRDL, #CEBDL {
    display: block;
}
div.DLSubsection {
    margin-left: 4%;
    margin-top: 2px;
}
input.MessageBox {
    min-width: 256px;
    height: 4rem;
}
[class*="col-"] {
    border: 0px solid red;
    float: left;
    border-collapse: collapse;
}
[class=row] {
    border: 0px solid green;
}
input[type="text"] {
    border-radius: 0.5rem;
}
p.NoMargin {
    margin:0px;
}
div.DLContainer {
    margin-top: 0.5rem;
}

/*-----mobile-----*/
@media screen and (max-width:1199px){
    /*:not selector may be making page slow on mobile devices? still very snappy on my desktop*/
    nav > ul.NavBar:not(.Open) > li:not(:nth-child(1)) {
        display: none;
    }
    nav > ul.NavBar > li#buttonExpander {
        display: block;
        margin-bottom: auto;
    }
    nav > ul.NavBar > li > a {
        font-size: 3rem;
    }

    ul.NavBar.Open > li#buttonExpander
    {
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.NavBar.Open {
        position: relative;
    }
    ul.NavBar.Open > li {
        display: inline;
        float: none;
    }
    nav > ul > li {
        padding: 0px;
    }
    ul.NavBar.Open  a {
        display: block;
        text-align: left;
    }

    /*------Mobile_spacing------*/
    .col-6, .col-4 {
        width: 100%;
        margin: 0;
    }
    div.box {
        display: block;
    }
    div.LeftCol{
        display: block;
        margin: auto;
    }
    img.ChromiumPic {
        width:65%;
        max-height: inherit;
        display: none;
        margin: auto;
    }
    div.DLSubsection {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    /*------Mobile_font------*/
    code {
        font: 1.5rem courier, sans-serif;
    }
    ul.NavBar.Open > li {
        font: 3rem ubuntu, sans-serif;
    }
    big {
        font: 6rem ubuntu;
    }
    p {
        font-size: 2rem;
    }
    p.PH {
        font-size: 1.5rem;
    }
    ul > li > ul > li{
        font-size: 1.5rem;
    }
    ul.list > li {
        font-size: 2rem;
    }
    .DLHeader {
        font: 2.5rem ubuntu;
    }
    form {
        font-size: 2rem;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.5rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
    input[type="text"] {
        font-size: 2rem;
        min-width: 128px;
    }
    button.DLButton {
        font-size: 4rem;
    }
}
/*-----end_mobile-----*/